##################################################################
# Configuration file for SUscCGL applications
# Read at application launch
# Use "#" for comments
# Use ";" to switch off a boolean


##################################################################
#ENUMS

# 0 - dark, 1 - clear, 2 - black, 3 - white
THEME                0

# 0 - radial, 1 - linear
INTERFACE            1

# 0 - simple, 1 - extended
BUTTONS              1

# 0 - flashy, 1 - pastel, 2 - whites, 3 - cold, 4 - warm
COLORS               0

# 0 - shadows, 1 - reflections, 2 - NULL
GROUND               1

# 0 - upper hemisphere, 1 - full sphere, 2 - fixed cam
CAMERA               0

# 0 - center, 1 - grid, 2 - natural
INITIAL_ARRANGEMENT  1


##################################################################
#FIXED VARIABLES
INVERT_VERTICAL
DISPLAY_AXES
;INDEPENDANT_SCALE
GLOBAL_SCALE
;STEREO 
BOTTOM_DISTANCE      0.1
BOTTOM_ANGLE         0.0


##################################################################
#START UP
PERSPECTIVE
;BOTTOM_GRID
;SMOOTH
;FULLSCREEN
;FLYING_MODE